.pagetitle {
  text-align: center;
}

.donator-title {
  font-weight: bold;
}

.btn {
  margin-right: 5px;
}
#map {
  width: 550px;
  height: 400px;
}
.logo {
  height: 50px;
  width: 50px;
  padding: 5px;
}
.about {
  font-family: "Noto Serif SC", serif;
}
.my-container {
  padding: 3%;
  background-color: whitesmoke;
  height: 500px;
  width: 700px;
  margin-top: 3%;
  -webkit-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 39px 0px rgba(0, 0, 0, 0.75);
}
.search {
  height: 300px;
}
.result {
  height: 200px;
  margin-bottom: 50px;
}
#myModal4 > div > div > div.modal-body > div.input-group {
  width: 90%;
}
body {
  background-image: url(../images/background.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.profile-img {
  background-color: #fff;
  height: 200px;
  position: relative;
  width: 200px;
  border-radius: 100%;
  border: 4px solid #fff;
  -webkit-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
}
body > div.container.my-container > div {
  padding: 10px;
}
.find-me {
  height: 40px;
  width: 40px;
  float: left;
}
.find-me-text {
  padding-left: 50px;
  font-family: "Concert One", cursive;
  color: black;
}
.age,
.phone,
.email {
  font-family: "Concert One", cursive;
}
.row {
  padding-top: 5%;
}
#navtitle {
  padding: 0px;
  margin: 0px;
}
.title {
  float: left;
}
#aboutBtn {
  margin-right: 500px;
}
#editBtn {
  background-color: transparent;
  border: none;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
#MapBtn {
  background-color: transparent;
  border: none;
  padding-top: 0px;
}
.Name {
  font-family: "Concert One", cursive;
}
.checkbox-input-text {
  padding-left: 20px;
}
input.checkbox-input {
  float: left;
  margin-top: 10px;
}

.myrow {
  padding-left: 30px;
}
#myModal4
  > div
  > div
  > div.modal-body
  > div.input-group
  > div.input-group-text.row
  > div
  > input {
  float: left;
  margin-top: 10px;
}

.Story {
  font-family: "Indie Flower", cursive;
  padding-top: 80px;
}

.edit {
  height: 25px;
  width: 25px;
}
.edit:hover {
  -webkit-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);
}
.checkbox-input-text {
  float: left;
}
